Camunda-Workflow/.vs/
Camunda-Workflow/Camunda-Workflow/bin
Camunda-Workflow/Camunda-Workflow/obj
Camunda-Workflow/Camunda-Workflow/log-file.txt
UserRegistrationWorkerService/.vs/
UserRegistrationWorkerService/UserRegistrationWorkerService/bin
UserRegistrationWorkerService/UserRegistrationWorkerService/obj
UserRegistrationWorkerService/UserRegistrationWorkerService/log-file.txt